# Google Sheets API
GOOGLE_SHEET_CREDENTIALS_PATH=config/client_secret_....json
SPREADSHEET_NAME=Your Google Sheet Name
SHEET_TAB_NAME=Sheet1
EMAIL_COLUMN_NAME=email

# CSV Dataset
DATASET_PATH=config/dataset.csv
DATASET_EMAIL_COLUMN=email

# SMTP Gmail
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
EMAIL_SENDER=your-email@gmail.com
EMAIL_PASSWORD=your-app-password

# Canva Invitation Email
EMAIL_SUBJECT=You're invited to Canva Pro!
EMAIL_BODY="আমাদের স্পেশাল মেম্বার হিসেবে তোমার ক্রিয়েটিভিটিকে আরেকটু বুস্ট করতে এই ছোট্ট উপহার। আজ থেকে ডিজাইনে আর কোনো লিমিটেশন থাকছে না—You are now on Canva Pro! 🔥

📥 অ্যাক্সেস নাও এখান থেকে:
নিচের লিংকে ক্লিক করে সরাসরি আমাদের ক্যানভা টিমে জয়েন করে নাও:

👉 https://www.canva.com/brand/join?token=ivg7GTMtPfKHLcEInMeNCg&brandingVariant=edu&referrer=team-invite 👈

নোট: এই এক্সক্লুসিভ লিংকটি শুধু তোমার জন্যই, তাই শেয়ার না করার অনুরোধ রইলো।

Keep crushing it!"

# Polling
POLL_INTERVAL_SECONDS=30
